@{
    ViewBag.Title = "Home Page";
}

<div class="item">
    <a href="@Url.Action("MovieDetails/2","Home")"><center><img src="~/Images/black panther.png" height="600" alt="BlackPanther"> </center></a>
</div>
